<div id="home" class="container">
  <div class="row">
    <div id="itemOptions" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading"   data-target="#flavors">
            <h4 class="panel-title">
         <div  data-target="#flavors">Flavors</div>
            </h4>
          </div>
          <!-- <div id="flavors" class="panel-collapse collapse"> -->
          <div id="flavors">
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="flavor in flavors"> {{flavor.name}} <i class="fa fa-plus-circle" aria-hidden="true" ng-click="addItem(flavor)"></i></span> <input type="text" class="itemQty" value="{{flavor.quantity}}"> <i class="fa fa-minus-circle" aria-hidden="true" ng-hide="flavor.quantity == 0" ng-click="removeItem(flavor)"></i></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading"  data-target="#toppings">
            <h4 class="panel-title">
          <div data-target="#toppings">Toppings</div>
        </h4>
          </div>
          <div id="toppings">
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="topping in toppings"> {{topping.name}} <i class="fa fa-plus-circle" aria-hidden="true" ng-click="addItem(topping)"> </i> <input type="text" class="itemQty" value="{{topping.quantity}} ">  <i class="fa fa-minus-circle" aria-hidden="true" ng-hide="topping.quantity == 0" ng-click="removeItem(topping)" ng-disabled="topping.quantity == 0"> </i></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading"  data-target="#cone">
            <h4 class="panel-title">
         <div  data-target="#cone">Cones</div>
       </h4>
          </div>
          <div id="cone" >
            <ul class="list-group">
              <!-- different sizes -->
              <li class="list-group-item" ng-repeat="cone in cones"> {{cone.name}} <i class="fa fa-plus-circle" aria-hidden="true" ng-click="addItem(cone)"></i> <input type="text" class="itemQty" value="{{cone.quantity}} "> <i class="fa fa-minus-circle" aria-hidden="true" ng-hide="cone.quantity == 0" ng-click="removeItem(cone)" ng-disabled="cone.quantity == 0"></i> </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- <div class="itemList">
          <h1>Your order</h1>
          <p ng-repeat="item in itemObjects" ng-hide="item.quantity == 0">{{item.quantity}} {{item.name}}</p>
      </div> -->
    </div>

    <div id="factSheet" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <section class="performance-facts">
        <header class="performance-facts__header">
          <h1 class="performance-facts__title">Nutrition Facts</h1>
          <p>Number of Items {{itemNumber}}</p>
            <p>Serving Per Container 1</p>
        </header>
        <table class="performance-facts__table">
          <thead>
            <tr>
              <th colspan="3" class="small-info">Amount Per Serving</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th colspan="2"> <b>Calories</b> {{totalNutrition.calorieTotal}}</th>
              <td>Calories from Fat {{totalNutrition.fatCalTotal}}</td>
            </tr>
            <tr class="thick-row">
              <td colspan="3" class="small-info"><b>% Daily Value*</b></td>
            </tr>
            <tr>
              <th colspan="2"><b>Total Fat</b> {{totalNutrition.totalFatGrams}}g</th>
              <td><b>{{totalDV.totalFatDV|number:0}}%</b></td>
            </tr>
            <tr>
              <td class="blank-cell"></td>
              <th>Saturated Fat {{totalNutrition.totalSatFat}}g</th>
              <td><b>{{totalDV.totalSatFatDV|number:0}}%</b></td>
            </tr>
            <tr>
              <td class="blank-cell"></td>
              <th>Trans Fat {{totalNutrition.totalTransFat}}g</th>
              <td></td>
            </tr>
            <tr>
              <th colspan="2"><b>Cholesterol</b> {{totalNutrition.totalCholesterol}}mg</th>
              <td><b>{{totalDV.totalCholesterolDV|number:0}}%</b></td>
            </tr>
            <tr>
              <th colspan="2"><b>Sodium</b> {{totalNutrition.totalSodium}}mg</th>
              <td><b>{{totalDV.totalSodiumDV|number:0}}%</b></td>
            </tr>
            <tr>
              <th colspan="2"><b>Total Carbohydrate</b> {{totalNutrition.totalCarbs}}g</th>
              <td><b>{{totalDV.totalCarbDV|number:0}}%</b></td>
            </tr>
            <tr>
              <td class="blank-cell"></td>
              <th>Dietary Fiber {{totalNutrition.totalFiber}}g</th>
              <td><b>{{totalDV.totalDietFiberDV|number:0}}%</b></td>
            </tr>
            <tr>
              <td class="blank-cell"></td>
              <th>Sugars {{totalNutrition.totalSugar}}g</th>
              <td></td>
            </tr>
            <tr class="thick-end">
              <th colspan="2"><b>Protein</b> {{totalNutrition.totalProtein}}g</th>
              <td></td>
            </tr>
          </tbody>
        </table>

        <table class="performance-facts__table--grid">
          <tbody>
            <tr>
              <td colspan="2">Vitamin A {{totalNutrition.totalVitaminA|number:0}}%</td>
              <td>Vitamin C {{totalVitaminC|number:0}}%</td>
            </tr>
            <tr class="thin-end">
              <td colspan="2">Calcium {{totalNutrition.totalCalcium|number:0}}%</td>
              <td>Iron {{totalNutrition.totalIron|number:0}}%</td>
            </tr>
          </tbody>
        </table>

        <p class="small-info">* Percent Daily Values are based on a 2,000 calorie diet. Your daily values may be higher or lower depending on your calorie needs:</p>
        <table class="performance-facts__table--footer">
          <tbody>
            <tr>
              <td><i class="fa fa-smile-o" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <td>Happiness: 100% </td>
            </tr>
            <!-- <tr id ="socialMedia">
              <td><i class="fa fa-facebook-official" aria-hidden="true"></i></td>
              <td><i class="fa fa-yelp" aria-hidden="true"></i></td>
              <td><i class="fa fa-instagram" aria-hidden="true"></i></td>
              <td><i class="fa fa-twitter" aria-hidden="true"></i></td>
            </tr> -->
        </tbody>
      </table>
      </section>
    </div>
  </div>
</div>
